/* Variables */
:root {
    --main-color-red: #f44336;
}
/* Rset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1;
}

button {
    background-color: inherit;
    border-radius: 0;
    border: 0;
    color: inherit;
    cursor: pointer;
}

ul {
    list-style: none;
}

img {
    width: 100%;
    height: auto;
}

body {
    height: 100vh;
    font-family: "Poppins", sans-serif;
    padding-top: 68px;
    display: flex;
    
}
/* Common classes  */
.logo {
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: bold;
}
/* Header  */
.header {
    height: 68px;
    padding: 8px 16px;
    background-color: var(--main-color-red);
    display: flex;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1;
}

.sidebar__open-btn {
    height: 52px;
    width: 52px;
    margin-right: 20px;
}

.sidebar__open-btn:hover {
    background-color: #ccc;
}

.sidebar__open-btn:hover svg {
    fill: black;
}

.sidebar__open-btn svg {
    fill: white;
}
/* Sidebar */
.sidebar-overlay {
   width: 100vw;
   height: 100vh; 
   background-color: black;
   opacity: 0.5;
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 2;
   display: none;
}

.sidebar-overlay.open {
    display: block;
}

.sidebar {
    padding: 8px 16px;
    position: fixed;
    top: 0;
    left: -100%;
    bottom: 0;
    z-index: 3;
    transition: left 0.3s;
    height: 100vh;
    min-width: 300px;
    background-color: var(--main-color-red);
}

.sidebar .logo {
    display: inline-block;
    margin: 50px 0;
    padding: 0 16px;
}

.sidebar.open {
    left: 0;
}

.sidebar__close-btn {
    font-size: 24px;
    color: white;
    display: block;
    width: 100%;
    height: 52px;
}

.sidebar__close-btn:hover {
    background-color: #ccc;
    color: initial;
}

.nav-list a {
    display: block;
    padding: 16px;
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.nav-list a:hover {
    background-color: white;
    color: black;
}
/* Main content  */
.main-wrapper {
    padding: 0 20px;
    overflow-y: auto;
    flex-grow: 1;
    scroll-behavior: smooth;
}

.main {
    
}

/* Media queris  */
@media (min-width: 992px) {
    body {
        padding-top: 0;
    }
    /* Main  */
    .main-wrapper {
        padding: 0 50px;
    }
    /* Header  */
    .header {
        display: none;
    }
    /* Sidebar  */
    .sidebar {
        position: static;
    }
    .sidebar__close-btn {
        display: none;
    }
    
    
}

